<main>
    <section class="blog__entry">
        <div 
            class="blog__entry--container" 
            style="background: url({{image}}); background-size: 100%"
        >
            <h1 class="blog__entry--title">
                {{title}}
            </h1>
        </div>
        <div class="blog__entry--text">
            <hr>
            <p class="blog__entry--section">
                {{description}}
            </p>
            {{#each content}}
                <h2 class="blog__entry--subheading">
                    {{heading}}
                </h2>
                {{#each sections}}
                    <p class="blog__entry--section">
                        {{this}}
                    </p>
                {{/each}}
            {{/each}}
        </div>
    </section>
</main>
